<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Prodserver" value="N"/>
    <add key="override" value="N"/>
    <add key="slsoveride" value="Y"/>
  </appSettings>
  <connectionStrings>
    <add name="TCP_WEB" connectionString="data source=TCPQA;User ID=APPS_WEB;Password=zkzTTIPc!sv#5a6Dv; Max Pool Size=50 " providerName="Oracle.ManagedDataAccess.Client"/>
	  <!--<add name="TCP_WEB" connectionString="data source=SLACQA;User ID=APPS_WEB;Password=xQe7FbPNKEciL3HM@; Max Pool Size=50 " providerName="Oracle.ManagedDataAccess.Client"/>-->

	  <!--<add name="TCP_WEB"
     connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=SLAC-TCP.slac.stanford.edu)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SLAC))); User Id=apps_web;Password=secur3web.a.2019;"
     providerName="Oracle.ManagedDataAccess.Client"/> -->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpCookies domain="String" httpOnlyCookies="true" requireSSL="false"/>
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <httpRuntime executionTimeout="150" maxRequestLength="716800"/>
    <customErrors mode="On">
      <error statusCode="403" redirect="Error.aspx"/>
      <error statusCode="404" redirect="Error.aspx"/>
      <error statusCode="500" redirect="Error.aspx"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="13"/>
      <error statusCode="404" subStatusCode="13" prefixLanguageFilePath="" path="Error.aspx?msg=file" responseMode="Redirect"/>
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="32000000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>